
<div class="FormWrapper container">
<h2 class="confirm-title">予約確認</h2>
<h3>confirm</h3>
<tbody>
<% @reservations.each do |reservation| %>
  <td><%= reservation.checkin %></td>
  <td><%= reservation.checkout %></td>
  
  

    


<% end %>
</tbody>